@import '~bootstrap/dist/css/bootstrap-reboot.min.css';
@import '~@fortawesome/fontawesome-free-webfonts/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free-webfonts/css/fa-solid.css';
@import '~@fortawesome/fontawesome-free-webfonts/css/fa-regular.css';

body {
    background: lightgray;
}

#page {
    background: white;
    border: 1px;
    border-color: gray;
    border-style: solid;
    margin: 30px auto;
    padding: 50px 50px;
    width: 800px;
    min-height: 1000px;
}

.item-container {
    display: flex;
}

.item-toggle-container {
    display: flex;
    flex-flow: column nowrap;
    width: 20px;
}

.item-toggle {
    text-align: center;
    width: 100%;
}

.item-bullet-container {
    display: flex;
    flex-flow: column nowrap;
    width: 20px;
}

.item-bullet {
    text-align: center;
    width: 100%;
}

.item-content-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.item-content {
}
